{% extends "backend.html" %}

{% load widget_tweaks %}

{% block container %}

<h1>Create new article</h1>

{% if error_message %}<div class="error">{{ error_message }}</div>{% endif %}

<form role="form" method="post">
{% csrf_token %}
 	<div class="form-group">
		<label for="id_heading">Heading</label>
		{% render_field form.heading placeholder="Your heading" class+="form-control"%}
		{% if form.heading.errors %}<div class="error">{{ form.heading.errors }}</div>{% endif %}
	</div>
	<div class="form-group">
        <label for="id_content">Content</label>
        {% render_field form.content placeholder="Your content ..." class+="form-control"%}
        {% if form.content.errors %}<div class="error">{{ form.content.errors }}</div>{% endif %}
	</div>
	<div class="form-group">
        <label for="id_publication">Publication</label>
        {% render_field form.publication placeholder="YYYY-MM-DD HH:MM:SS" class+="form-control datetime" %}
        {% if form.publication.errors %}<div class="error">{{ form.publication.errors }}</div>{% endif %}
    </div>
    <input type="submit" class="btn btn-primary" value="submit" />
    <a href="{% url 'backend:index' %}"><button type="button" class="btn btn-default">cancel</button></a>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(".datetime").datetimepicker({format: 'yyyy-mm-dd hh:ii:ss'});
</script> 
{% endblock %}
            