{% extends "backend.html" %}

{% block container %}

{% if latest_articles %}
<h1>All articles</h1>

<table class="table">
	<thead>
		<tr>
			<th>heading</th>
			<th>publication</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
	{% for article in latest_articles %}
		<tr>
			<td>{{ article.heading }}</td>
			<td>{{ article.publication }}</td>
			<td>
				<ul>
					<li><a href="{% url 'backend:detail' article.id %}"><button type="button" class="btn btn-default">details</button></a></li>
					<li><a href="{% url 'backend:edit' article.id %}"><button type="button" class="btn btn-success">update</button></a></li>
					<li><form action="{% url 'backend:delete' %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="pk" value="{{ article.id }}" />
						<input class="btn btn-danger" type="submit" value="delete" />
					</form></li>
				</ul>
			</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p>No articles are available.</p>
{% endif %}
<p>
<a href="{% url 'backend:create' %}"><button type="button" class="btn btn-primary">Create a new article</button></a>
</p>
{% endblock %}
